@{
    Layout = null;
}

@{ var customers = ViewBag.list as IEnumerable<WebApplication.Core.Model.Books>; }

<h1>@ViewBag.Title</h1>


<a href="/Books/Index" class="btn btn-light">Volver</a>
<table class="table table-bordered">
    <tr style="background-color:deepskyblue">
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>PageCount</th>
        <th>PublishDate</th>
        <th>Excerpt</th>

    </tr>
    <tbody>
        @foreach (var item in customers)
        {
            <tr>
                <th>@item.Id</th>
                <th>@item.Title</th>
                <th>@item.Description</th>
                <th>@item.PageCount</th>
                <th>@item.PublishDate</th>
                <th>@item.Excerpt</th>


            </tr>
        }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>